.row {
	@mixin clearfix;
	&__b-margin-until-md {
		margin-bottom: 1rem;
	}

	@mixin md {
		&__b-margin-until-md {
			margin-bottom: 0;
		}
		&__md-4 {
			float: left;
			width: 33.33%;
		}
		&__md-4-larger {
			width: 37%;
		}
		&__md-6 {
			float: left;
			width: 50%;
		}
		&__md-8 {
			float: left;
			width: 66.66%;
		}
		&__md-8-smaller {
			width: 63%;
		}
	}

	@mixin lg {
		&__b-margin-until-lg {
			margin-bottom: 0;
		}
		&__lg-4 {
			float: left;
			width: 33.33%;
		}
		&__lg-4-larger {
			width: 37%;
		}
		&__lg-6 {
			float: left;
			width: 50%;
		}
		&__lg-8 {
			float: left;
			width: 66.66%;
		}
		&__lg-8-smaller {
			width: 63%;
		}
	}
	
	&--gutters {
		margin-right: -65px;
	}
	&--gutters-large {
		margin-right: -100px;
	}
	&--gutters-small {
		margin-right: -45px;
	}
	&--gutters > div {
		padding-right: 65px;
	}
	&--gutters-large > div {
		padding-right: 100px;
	}
	&--gutters-small > div {
		padding-right: 45px;
	}
	&--t-padding {
		padding-top: 80px;
	}
	/*begin equal height rules*/
	.flexbox &--equal-height-at-md {
		@mixin md {
			display: flex;
		}
		& > div {
			float: none;
			display: flex;
		}
	}
	.flexbox &--equal-height-at-lg {
		@mixin lg {
			display: flex;
		}
		& > div {
			float: none;
			display: flex;
		}
	}
}